{% extends 'base.html.twig' %}

{% block title %}Modifier une carte{% endblock %}

{% block body %}
    <h1 class="text-center fw-bolder">Modifier une carte</h1>
    {% include "card/_form.html.twig" %}
{% endblock %}