{% extends 'base.html.twig' %}

{% block title %}Ajout d'une carte{% endblock %}

{% block body%}
    <h1 class="text-center fw-bolder">Ajout d'une carte</h1>
    {#?Formulaire#}
    {{ include('card/_form.html.twig') }}


{% endblock %}